`<%- include('partials/header') %>`

<div class="jombotron centered">
<div class="container">
    <i class="fa-duotone fa-lock"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo commodi reiciendis hic!</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
</div>
</div>

<%- include('partials/footer') %>