<%- include('partials/header') %>

<div class="container">
    <div class="jombotron centered">
            <i class="fa-duotone fa-lock"></i>
            <h1 class="display-3">Secrets</h1>
            <p class="lead">Imran khan is my hero!</p>
            <hr>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
        </div>
        </div>

        
<%- include('partials/footer') %>